Owner: <%= @user.email %><br />
Project: <%= @project.name %><br />
Project Description: <%= @project.description %><br />
access: <%= @project.access %><br />
members: <br /><% @project.memberships.each do |membership| %>
  <%= membership.user.email %><br />
<% end %>
<%= link_to "(+) Add Member", new_membership_path(:id => @project.id), :remote => true, class: "member-button" %>
<div class="membership"></div>

<br />
<%= link_to "(+) Task List", new_list_path(:project_id => @project), :remote => true, class: "new-list-button" %>
<div class ="new-list"></div>

<div class="lists">
  <%= render :partial => "lists/lists", :locals => {:project => @project} %>
</div>