<div class="hero-unit">
  <h1>Home</h1>
  <% if signed_in? %>
    user: <%= current_user.email %>
    <%= link_to "sign out", destroy_user_session_path, :method => 'DELETE' %><br /><br />
    <p><%= link_to "new project", new_user_project_path(current_user) %></p>
  <% else %>
    <%= link_to "sign in", new_user_session_path %> |
    <%= link_to "sign up", new_user_registration_path %>
  <% end %>
</div>